.bgvideo {
    height: 70vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bgvideo video {
    height: 70vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: 1;
}

.effect {
    height: 70vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: 2;
    background-color: rgba(69, 102, 122, 0.678);
}

.vidio-text {
    color: rgb(165, 220, 238);
    font: 1em;
    z-index: 2;
}

h1 {
    font-size: 130px;
}